A Series is a one-dimensional labeled array in Pandas. It can be thought of as a single column of data with labels or indices for each element. 

You can create a Series from various data sources, such as lists, NumPy arrays, or dictionaries
Here's a basic example of creating a Series in Pandas:

In [1]:
import pandas as pd
# Create a Series from a list
data = [10, 20, 30, 40, 50]
s = pd.Series(data)
print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [5]:
print(s[2])
print(s.iloc[1])
print(s[1:4])

30
20
1    20
2    30
3    40
dtype: int64

What is a DataFrames?
A DataFrame is a two-dimensional labeled data structure with columns of potentially different data types. Think of it as a table where each column represents a variable, and each row represents an observation or data point. DataFrames are suitable for a wide range of data, including structured data from CSV files, Excel spreadsheets, SQL databases, and more.

In [6]:
import pandas as pd
# Creating a DataFrame from a dictionary
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 28],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)
print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   28        Chicago

In [7]:
print(df['Name'])

0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object

In [12]:
print(df['Age'] > 28)

0    False
1     True
2     True
3    False
Name: Age, dtype: bool

In [10]:
print(df.iloc[2])   # Access the third row by position
  # Access the second row by label

Name        Charlie
Age              35
City    Los Angeles
Name: 2, dtype: object

In [14]:
import pandas as pd
result={'student':['alemu', 'nati', 'samuel','abeni', 'betti'] , 'age':[27,23,45,56,47], 'country':['uk','ethiopia','usa','canada','eva']}
re=pd.DataFrame(result)
print(re)

  student  age   country
0   alemu   27        uk
1    nati   23  ethiopia
2  samuel   45       usa
3   abeni   56    canada
4   betti   47       eva

In [15]:
import pandas as pd

# Convert the table to a dictionary
data = {
    'OrderID': [1, 2, 3, 4, 5],
    'Product': ['Laptop', 'Smartphone', 'Desk Chair', 'Notebook', 'Monitor'],
    'Category': ['Electronics', 'Electronics', 'Furniture', 'Stationery', 'Electronics'],
    'Quantity': [2, 3, 5, 10, 1],
    'Price': [800, 600, 150, 2, 300],
    'Total': [1600, 1800, 750, 20, 300],
    'OrderDate': ['2022-01-10', '2022-02-15', '2022-03-12', '2022-04-05', '2022-05-21'],
    'CustomerCity': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Miami']
}

# Create DataFrame from the dictionary
df_orders = pd.DataFrame(data)
print(df_orders)

   OrderID     Product     Category  Quantity  Price  Total   OrderDate  \
0        1      Laptop  Electronics         2    800   1600  2022-01-10
1        2  Smartphone  Electronics         3    600   1800  2022-02-15
2        3  Desk Chair    Furniture         5    150    750  2022-03-12
3        4    Notebook   Stationery        10      2     20  2022-04-05
4        5     Monitor  Electronics         1    300    300  2022-05-21

  CustomerCity
0     New York
1  Los Angeles
2      Chicago
3      Houston
4        Miami

We can access the column Quantity and assign it a new dataframe x:

In [19]:
x= df_orders[['Quantity']]
print(x)
type(x)

   Quantity
0         2
1         3
2         5
3        10
4         1

pandas.core.frame.DataFrame

In [21]:
y = df_orders[['Product','Category', 'Quantity']]
print(y)

      Product     Category  Quantity
0      Laptop  Electronics         2
1  Smartphone  Electronics         3
2  Desk Chair    Furniture         5
3    Notebook   Stationery        10
4     Monitor  Electronics         1

In [27]:
y=df_orders.iloc[3,1]
print(y)  

x= df_orders.loc[2,'Quantity']
print(x)

Notebook
5

In [28]:
x=df_orders.iloc[0:2, 0:3]
print(x)

   OrderID     Product     Category
0        1      Laptop  Electronics
1        2  Smartphone  Electronics

In [29]:
y=df_orders.loc[0:2, 'OrderID':'Category']
print(y)

   OrderID     Product     Category
0        1      Laptop  Electronics
1        2  Smartphone  Electronics
2        3  Desk Chair    Furniture